---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">
				<strong>Smart Announcement Tools</strong> Built for the New Customer Experience
			</h2>
			<p class="pb-0 text-lg">
				Elevix helps you engage customers post-purchase and beyond—right inside their account pages.
				From targeted promos to automated updates, each feature is crafted to reduce friction, boost
				retention, and drive repeat sales.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Capture Attention Where It Matters Most"
				subtitle="Show timely announcements directly in the new Shopify customer account pages—right where your customers are already engaged."
				image={feature01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Match Your Brand with Flexible Styles"
				subtitle="Customize the look and feel of each announcement bar with multiple layout and color options—no theme edits required."
				image={feature02}
				link="/features"
			/>
			<Card
				title="Target Specific Pages with Precision"
				subtitle="Display announcements on the order list, order detail, or profile page to deliver the right message at the right moment."
				image={feature03}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Easy, No-Code Customization"
				subtitle="Design and manage announcements effortlessly with our intuitive admin dashboard—tailor text, links, and style with zero coding."
				image={feature04}
				link="/features"
			/>
			<Card
				title="Automate Timing with Smart Scheduling"
				subtitle="Set start and end dates for announcements to appear automatically—perfect for timed promotions, launches, or policy updates."
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
